@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');

body {
  background-color: #F1F8E8;
  margin: 0;
  padding: 0;
  font-family: "Habibi";
  overflow-y: visible;
}

.NotesHome {
  #notesLink {
    text-decoration: underline;
    text-underline-offset: 2vh;
    color: #55AD9B;
  }

  .NotesHome-Header {
    position: relative;
    margin-top: 10%;
  }

  .Table-Header {
    position: relative;
    display: flex;
    margin: auto;
    padding: 0;
    font-size: 2.5vw;
    width: 100%;
    margin-left: 1.5vw;
  }

  .Table {
    display: grid;
    padding: 1.5vw;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;  
    column-gap: 1vw;
    row-gap: 1.5vw;
    width: 100%;

    .Button-Animate {
      background-color: #55AD9B;
      background-image: none;
      border: 2px solid black;
      font-family: "Habibi";
      font-size: 2vw;
      border-radius: 0.5vw;
      padding: 1vh 5vh;
    }
  
    .Button-Animate:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    .AddClass:hover {
      cursor: pointer;
    }

    @keyframes pop {
      0% {
        transform: scale(1);
      }
  
      50% {
        transform: scale(1.1);
      }
  
      100% {
        transform: scale(1);
      }
    }
  
    .Button-Animate.animate {
      animation: pop 0.7s ease-in-out;
    }
  }
}

.Component {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.ClassName {
  font-size: 18px;
  font-weight: bold;
}
